@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

:host {
    .wiki-img-container {
        padding-top: calc(var(--bs-gutter-x) * 0.5);
        padding-bottom: calc(var(--bs-gutter-x) * 0.5);

        // Stolen from .form-control class
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        &[disabled=true] {
            .card.wiki-img-selector-card {
                opacity: 25%;
                filter: grayscale(0.75);
                pointer-events: none;
            }
        }
    }

    div.wiki-img-card-wrapper {
        flex-grow: 1;
        .card.wiki-img-selector-card {
            height: 100%;
            max-height: 128px;
            overflow: hidden;
            cursor: pointer;
            transition: 350ms ease-in-out all;
            &:hover, &.active {
                transform: scale(1.05);
            }
            img.wiki-img-selector-img {
                height: inherit;
                object-fit: cover;
                pointer-events: none;
                user-select: none;
            }
            div.wiki-img-selector-active-indicator {
                transition: 250ms ease-in-out all;
                height: 0;
                background: $primary;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                color: white;
                span {
                    opacity: 0%;
                }
            }
            &.active {
                div.wiki-img-selector-active-indicator {
                    height: 1.5em;
                    span {
                        opacity: 100%;
                    }
                }
            }
        }
    }
}

:host(.ng-invalid) {
    .wiki-img-container {
        border-color: var(--bs-form-invalid-border-color);
    }
    .no-images {
        span {
            color: var(--bs-form-invalid-border-color) !important;
        }
    }
}