@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

:host {
    .card.wiki-img-selector-card {
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        transition: 350ms ease-in-out all;
        &:hover, &.active {
            transform: scale(1.025);
        }
        img.wiki-img-selector-img {
            height: inherit;
            object-fit: cover;
            pointer-events: none;
        }
        div.wiki-img-selector-active-indicator {
            transition: 250ms ease-in-out all;
            height: 0;
            background: $primary;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            color: white;
            span {
                opacity: 0%;
            }
        }
        &.active {
            div.wiki-img-selector-active-indicator {
                height: 1.5em;
                span {
                    opacity: 100%;
                }
            }
        }
    }
}