<h3>Recipes</h3>
<hr>
<div class="container d-flex align-items-center justify-content-center mb-6" style="height: 240px">
    <span class="text-muted">Coming Soon!</span>
</div>

<h3>Ingredients</h3>
<hr>
<div class="container mb-6 ps-0 pe-0">
    <app-ingredient-list>
        <app-ingredient-card 
            *ngFor="let bi of bookmarkedIngredients$ | async" 
            [hoverable]="true" 
            [ingredient]="bi"
            [routerLink]="['/ingredient', bi.id]"
        ></app-ingredient-card>
    </app-ingredient-list>
</div>