<div class="ingredient-card card" [class.shadow]="hovering && hoverable" [class.hover]="hovering && hoverable">
    <img *ngIf="ingredient.image" class="card-img-top" [src]="ingredient.image" height="128">
    <div class="card-body">
        <h5 class="card-title">{{ ingredient.name }}</h5>
        <h6 *ngIf="category$ | async as cat" class="card-subtitle mb-2 text-muted">
            <app-category-name [id]="ingredient.categoryID"></app-category-name>
            <ng-container *ngIf="hasSubCategory$ | async">
                <span class="ms-1 me-1">&bull;</span>
                <app-subcategory-name [id]="ingredient.subCategoryId"></app-subcategory-name>
            </ng-container>
        </h6>
        <p class="card-text">
            {{ ingredient.description || 'There is currently no description for this item' }}
        </p>
    </div>
    <button *ngIf="showBookmark" type="button" class="btn-bookmark btn btn-primary p-1" (click)="toggleBookmark($event)">
        <i class="bi" [ngClass]="(isBookmarked$ | async) ? 'bi-bookmark-star-fill' : 'bi-bookmark-star'"></i>
    </button>
</div>