<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Submit Ingredients</legend>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="categorySelect" class="form-label">Category</label>
        <select formControlName="categoryID" class="form-select" name="categorySelect" id="categorySelect">
          <option *ngFor="let category of categories$ | async" [ngValue]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="subCategorySelect" class="form-label">Sub Category</label>
        <select 
          formControlName="subCategoryId" 
          class="form-select" 
          name="subCategorySelect"
          id="subCategorySelect"
        >
          <option *ngFor="let sub of subCategories$ | async" [ngValue]="sub.id">{{ sub.name }}</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="ingredientName" class="form-label">Ingredient Name</label>
      <input 
        type="text"
        formControlName="name"
        class="form-control" 
        id="ingredientName" 
        name="ingredientName"
        placeholder="Add ingredient name here..."
      >
    </div>
    <div class="d-flex justify-content-end pt-3">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </div>
  </fieldset>
</form>