<app-ingredient-form></app-ingredient-form>
<div class="container-fluid mt-2" *ngIf="ingredients$ | async as ingredients">
    <div class="row">
        <h3>Ingredients &mdash; <span class="muted-text">{{ ingredients.length }}</span></h3>
    </div>
    <div class="row">
        <div class="col">
            <app-ingredient-list>
                <app-ingredient-card 
                    *ngFor="let ing of ingredients" 
                    [ingredient]="ing"  
                    [hoverable]="true"
                    [routerLink]="['/ingredient', ing.id]"
                ></app-ingredient-card>
            </app-ingredient-list>
        </div>
    </div>
</div>
